$color_card_set_background: #A0A0A0;
$color_board_background: #663300;
$color_background: #ADADAD;

@import 'mixins';

body {
  font-family: 'Playfair Display';
  background: $color_background;

  #app {
    width: 100%;
    height: 100%;
    #table {
      width: calc(100% - 270px);
      height: 400px;
      float: left;
      margin: 10px;
      ul.card-set {
        margin-left: 60px;
        height: 150px;
        clear: left;
        li.card {
          @for $i from 1 through 6 {
            &:nth-child(#{$i}) {
              @include rotate(#{($i * 15) - 45}deg);
              margin-top: #{-($i * 5)}px;
            }
          }
          float: left;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: 50% 50%;
          width: 78px;
          height: 118px;
          margin: 12px -85px 12px 10px;

          list-style-type: none;
          display: inline;
          padding: 5px;
        }
      }
    }
    #board {
      background-color: $color_board_background;
      padding: 10px;
      float: right;
      width: 200px;
      height: 600px;
      background-size: 90%;
      background-position: 50% 50%;
      border: 1px solid black;
      margin: 10px;
      background-repeat: no-repeat;
      background-image: url('../svg/boards/board.svg');
    }
  }
}
