$color_green_baize: #045D05;

body {

  #app {
    background-color: $color_green_baize;
    float: left;
    width: 100%;
    height: 100%;
    ul.card-set {
      clear: both;
      li.card {
        background-repeat: no-repeat;
        background-size: contain;
        width: 111px;
        height: 162px;
        margin: 10px 2px;
        list-style-type: none;
        display: inline;
        float: left;
      }
    }
  }
}